body, h2 {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
a {
	text-decoration: none;
}
a:hover {
	color: #ff1100;
}
.header {
	background-color: #ff3300;
	text-align: center;
}
.dropdown-content {
	display: none;
}